/* Header */
.page-header-default {
  margin-bottom: 20px;
}

ul.nav > li span.badge {
  min-width: 20px;
}

ul.nav > li.active span.badge {
  background-color: #FFA726;
  border-color: #FFE800;
  color: #fff;
}

/* Sidebar */
.sidebar-default .navigation > li.active > a,
.sidebar-default .navigation > li.active > a:hover,
.sidebar-default .navigation > li.active > a:focus {
  color: #00897b !important;
}

/* DataTable */
.datatable-header {
  padding-top: 10px;
}

/* Select2 */
/*.select2-selection {
  padding-left: 32px;
}*/

.input-group > .select2-container + .input-group-btn {
  padding-left: 16px;
}

/* Tab */
.tab-content-bordered .tab-content {
  border: 0px solid transparent;
}

/* Styled Radio Inline With Image */
.radio-inline.image {
	padding: 0;
}
.radio-inline.image > .choice {
	top: -3px;
	left: -3px;
}
.radio-inline.image > .choice > span {
	border: 2px solid #dee8ec;
}
.radio-inline.image > .choice > span, .radio-inline.image > .choice > span > input {
	width: 56px;
	height: 56px;
}
.radio-inline.image > .choice.hover > span, .radio-inline.image > .choice > span.checked {
	border: 2px solid #607D8B;
}
.radio-inline.image > img {
	width: 50px;
}

.note-toolbar > .note-btn-group {
  margin-right: 5px;
}

.has-error .note-editor {
  border: 1px solid #D84315;
}

/* Input Light */
.input-light {
  border-color: transparent transparent #fff;
}
.input-light::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #E6E6E6;
  opacity: 1; /* Firefox */
}
.input-light:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #E6E6E6;
}
.input-light::-ms-input-placeholder { /* Microsoft Edge */
  color: #E6E6E6;
}

/*Custom Stiki EndGame*/
body {
    color: #173D76;
    background-color: #F7F9FD;
}
.bg-teal-600 {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-inverse .navbar-text {
    color: #5C5959;
}

.navbar-inverse .navbar-nav > li > a {
    color: #5C5959;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #5C5959;
}

.sidebar-user-material-content > h6, .sidebar-user-material-content > span {
    color: #5C5959;
    text-shadow: none;
}

.sidebar-user-material-menu > a {
    background-color: #eff6ff;
    text-shadow: none;
    color: #173D76;
    font-weight: bold;
}
.sidebar-user-material-menu > a:hover {
    background-color: #eff6ff;
}

.sidebar-user-material-menu > a:hover, .sidebar-user-material-menu > a:focus, .sidebar-user-material-menu > a[aria-expanded="true"] {
    background-color: #eff6ff;
}

.sidebar-default .navigation li > a, .navigation li a > i {
    color: #5C5959;
}

.sidebar-default .navigation > li.active > a, .navigation li.active a > i, .sidebar-default .navigation > li.active > a:hover, .sidebar-default .navigation > li.active > a:focus {
    color: #173D76 !important;
}

.sidebar-default .navigation > li.active > a, .sidebar-default .navigation > li.active > a:hover, .sidebar-default .navigation > li.active > a:focus {
    background-color: #eff6ff;
}
.sidebar-default .navigation > li a:hover {
    background-color: #eff6ff;
}

/*.page-header-default {*/
    /*margin: 30px;*/
    /*box-shadow:none;*/
/*}*/
.content-wrapper {
    padding: 20px;
}
.content {
    padding: 0;
}

.bg-teal-400 {
    background-color: #5fa1fc !important;
}

.navbar {
    -webkit-box-shadow: none;
}

.category-component {
    padding: 0 20px;
}

.sidebar-fixed .sidebar-content {
    top: 30px;
}
.text-teal-600, .text-teal-600:hover, .text-teal-600:focus {
    color: #5fa1fc !important;
}

.page-header-default {
    box-shadow:none;
}

.panel {
    -webkit-box-shadow:none;
    box-shadow:none;
    border: 1px solid #d6eaff;
    border-radius: .2855rem;
}
.sidebar-user-material-content > a {
    box-shadow: none;
}

.sidebar {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-nav {
    margin: auto;
}

.field-style {
    width: 100%;
    height: 2.284rem;
    border-radius: .2855rem;
    font-family: "Ubuntu",serif;
    padding: 1.142rem;
    font-size: 1em;
    font-weight: 400;
    border: 1px solid #a3cfff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

.select2-container--focus .select2-selection--single:not([class*=bg-]):not([class*=border-]), .select2-container--open .select2-selection--single:not([class*=bg-]):not([class*=border-]) {
    border-bottom-color: #5fa1fc;
    -webkit-box-shadow: 0 1px 0 #5fa1fc;
    box-shadow: 0 1px 0 #5fa1fc;
}

.form-control:focus {
    outline: 0;
    border-color: transparent;
    border-bottom-color: #5fa1fc;
    -webkit-box-shadow: 0 1px 0 #5fa1fc;
    box-shadow: 0 1px 0 #5fa1fc;
}

.select2-results__option[aria-selected=true] {
    background-color: #5fa1fc;
}

.panel-default > .panel-heading {
    color: #173D76;
}

.page-header-default .page-header-content + .breadcrumb-line, .page-header-inverse .page-header-content + .breadcrumb-line {
    border-top: 1px solid #d6eaff;
}

.breadcrumb > li > a {
    color: #173D76;
}

.table-hover > tbody > tr:hover {
    background: #fbfcff;
    -webkit-box-shadow: inset 0px 0px 1px 0px #a6c3e2, 0px 4px 7px 0px rgba(206,226,249,0.431);
    box-shadow: inset 0px 0px 1px 0px #a6c3e2, 0px 4px 7px 0px rgba(206,226,249,0.431);
}

.panel thead {
    color: #173D76;
}

.panel .panel-title {
    color: #173D76;
}